html {
font-family: 'Montserrat Subrayada', sans-serif;
}

body {
  width: 900px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Montserrat Subrayada', cursive;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

section article {
  width: 33%;
  float: left;
}

section p {
  font-family: 'Bangers', cursive;
  margin: 5px 0;
}

section ul {
  font-family: 'Amaranth', sans-serif;
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}
